<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Oblivion's Application Exercise</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container navbar">
    <div class="container">
        <div style="float: left;"><h1>Simple Data Lab</h1></div>
        <div style="position: absolute; right: 0; bottom: 10px;">
            <a href="/about" class="btn btn-default">About</a>
            <a href="/login" class="btn btn-default">Login</a>
            <a href="/signup" class="btn btn-default">Signup</a>
            <a href="/signup" class="btn btn-default">Analysis</a>
        </div>
    </div>
</div>
<div class="container">
    <img src="http://copyrightuser.org/wp-content/uploads/2013/06/text_data_mining.jpg" style='height: 100%; width: 100%; object-fit: contain;'/>  
</div>
</body>
</html>